button#btn_enviar {
    margin-top: 10%;
    width: 302px;
}


button.btn.bg-light-blue.total_item {
	    float: right;
	    margin-right: 30px;
	    margin-top: -17px;
}

/*Grade*/
input.input_grade {
	max-width: 27px;
}

/*.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
     padding: 5px 0px 0px 5px !important;
}

th.th_unico {
    background: #b0aafc;
    opacity: 0.5;
}*/

.adicionar_vendedor {
    cursor: pointer;
}

table.table.table-striped tbody tr:hover {
    background-color: #9b26af;
    color: #ffffff;
    opacity:0.6;
}